/* html {
  touch-action: manipulation;
} */

body{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  justify-content: center;
  align-items: center;
  align-content: center;

  font-family: 'Press Start 2P', monospace;
  margin-top: 0;
}

div#header{
  text-align: center;
  margin : auto;
  color: yellow;

  display: flex;
}

#header #center{
  flex: 2;
}
#hleft{
  flex: 1;
  color : rgb(47, 54, 136)
}
#hright{
  flex: 1;
  color: rgb(185, 35, 35)
}


.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}



#center p{
  opacity: 0.7;
}

img{
  position: absolute;
  bottom: 0;
  width: 100%;
}

button{
  position: absolute;
  /* opacity: 0; */
}
button:active{
  opacity: 0.30;
  background-color: grey;
}


/* BUTTONS EMPLACEMENT */


#A{
  bottom: 6vw;
  right: 10vw;
  width: 13vw;
  height: 12vw;
}

#B{
  bottom: 6vw;
  right: 22vw;
  width: 13vw;
  height: 12vw;
}

#start{
  bottom: 7vw;
  right: 40vw;
  width: 12vw;
  height: 10vw;
}

#select{
  bottom: 7vw;
  right: 52vw;
  width: 12vw;
  height: 10vw;
}

#up{
  bottom: 17vw;
  left: 12vw;
  width: 8vw;
  height: 14vw;
}

#down{
  bottom: 3vw;
  left: 12vw;
  width: 8vw;
  height: 14vw;
}

#left{
  bottom: 12vw;
  left: 0;
  width: 12vw;
  height: 10vw;
}

#right{
  bottom: 12vw;
  left: 20vw;
  width: 12vw;
  height: 10vw;
}
